equinix_client_id           = "<MyEquinixClientId>"
equinix_client_secret       = "<MyEquinixSecret>"

notifications_type          = "ALL"
notifications_emails        = ["example@equinix.com", "test1@equinix.com"]
purchase_order_number       = "1-323292"
aside_fcr_uuid              = "<Fabric Cloud Router UUID>"
connection_name             = "FCR_2_VD_Pri"
connection_type             = "IP_VC"
bandwidth                   = 50

zside_ap_type               = "VD"
zside_vd_type               = "EDGE"
zside_vd_uuid               = "<Primary Virtual Device UUID>"
zside_interface_type        = "NETWORK"
zside_interface_id          = 5

secondary_connection_name   = "FCR_2_VD_sec"
secondary_bandwidth         = 50
zside_vd_sec_uuid           = "<Secondary Virtual Device UUID>"
zside_sec_interface_type    = "NETWORK"
zside_sec_interface_id      = 2
