equinix_client_id      = "MyEquinixClientId"
equinix_client_secret  = "MyEquinixSecret"

#NE Acl Template
template_name           = "test-wan-acl-template"
template_description    = "WAN ACL template"
template_subnet         = "172.16.25.0/24"
template_protocol       = "TCP"
template_src_port       = "any"
template_dst_port       = "22"

#Network Edge
ne_name                 = "Terra_Test_router"
ne_metro_code           = "SV"
ne_type_code            = "C8000V"
ne_package_code         = "network-essentials"
ne_notifications        = ["test@eq.com"]
ne_hostname             = "C8KV"
ne_account_number       = "182390403"
ne_version              = "17.11.01a"
ne_core_count           = 2
ne_term_length          = 1

ne_ssh_key_username     = "<SSH_Key_Username>"
ne_ssh_key_name         = "<SSH_Key_Name"

#VD_2_AWS_Connection
aside_vd_type               = "EDGE"
aside_vd_uuid               = "<Virtual Device UUID>"
zside_ap_type               = "SP"
zside_ap_profile_type       = "L2_PROFILE"
zside_location              = "SV"
zside_sp_name               = "AWS"
zside_peering_type          = "PRIVATE"

notifications_type          = "ALL"
notifications_emails        = ["example@equinix.com","test1@equinix.com"]
purchase_order_number       = "1-323292"
connection_name             = "VD_2_AWS"
connection_type             = "EVPL_VC"
bandwidth                   = 50
zside_ap_type               = "SP"
zside_ap_authentication_key = "<AWS Account Id>"
zside_ap_profile_type       = "L2_PROFILE"
zside_location              = "SV"
zside_seller_region         = "us-west-1"
zside_fabric_sp_name        = "AWS Direct Connect"
additional_info             = [
  {
    key   = "accessKey"
    value = "<aws_access_key>"
  },
  {
    key   = "secretKey"
    value = "<aws_secret_key>"
  }
]

#AWS Provider
aws_gateway_name         = "aws_gateway"
aws_gateway_asn          = 64518
aws_vif_name             = "port2aws"
aws_vif_address_family   = "ipv4"
aws_vif_bgp_asn          = 64999
aws_vif_amazon_address   = "169.254.0.1/30"
aws_vif_customer_address = "169.254.0.2/30"
aws_vif_bgp_auth_key     = "secret"
