equinix_client_id      = "MyEquinixClientId"
equinix_client_secret  = "MyEquinixSecret"

connection_name             = "Port_2_aws"
connection_type             = "EVPL_VC"
notifications_type          = "ALL"
notifications_emails        = ["example@equinix.com"]
bandwidth                   = 50
purchase_order_number       = "1-323292"
aside_port_name             = "sit-001-200009-CX-TY4-NL-Qinq-STD-10G-PRI-JP-252"
aside_vlan_tag              = "2019"
aside_vlan_inner_tag        = "2112"
zside_ap_type               = "SP"
zside_ap_authentication_key = "<AWS_ACCOUNT_ID>"
zside_ap_profile_type       = "L2_PROFILE"
zside_location              = "SV"
zside_seller_region         = "us-west-1"
zside_sp_name               = "AWS Direct Connect"
additional_info = [
  { key = "accessKey", value = "<aws_access_key>" },
  { key = "secretKey", value = "<aws_secret_key>" }
]

aws_gateway_name         = "aws_gateway"
aws_gateway_asn          = 64518
aws_vif_name             = "port2aws"
aws_vif_address_family   = "ipv4"
aws_vif_bgp_asn          = 64999
aws_vif_amazon_address   = "169.254.0.1/30"
aws_vif_customer_address = "169.254.0.2/30"
aws_vif_bgp_auth_key     = "secret"