equinix_client_id      = "<MyEquinixClientId>"
equinix_client_secret  = "<MyEquinixSecret>"

connection_name                 = "fcr_2_azure_pri"
secondary_connection_name       = "fcr_2_azure_sec"
notifications_type              = "ALL"
notifications_emails            = ["example@equinix.com","test1@equinix.com"]
purchase_order_number           = "1-323292"
connection_type                 = "IP_VC"
bandwidth                       = 50
secondary_bandwidth             = 50
aside_fcr_uuid                  = "<Primary Fabric Cloud router UUID>"
aside_sec_fcr_uuid              = "<Secondary Fabric Cloud router UUID>"
zside_ap_type                   = "SP"
zside_ap_authentication_key     = "<Azure Service Key>"
zside_ap_profile_type           = "L2_PROFILE"
zside_location                  = "SV"
zside_peering_type              = "PRIVATE"
zside_seller_region             = "us-west-1"
zside_fabric_sp_name            = "Azure ExpressRoute"
azure_client_id                 = "<Azure Client Id>"
azure_client_secret             = "<Azure Client Secret Value>"
azure_tenant_id                 = "<Azure Tenant Id>"
azure_subscription_id           = "<Azure Subscription Id>"
azure_resource_name             = "Azure Test"
azure_location                  = "West US 2"
azure_service_key_name          = "Test_Azure_Key"
azure_service_provider_name     = "<Service Provider Name>"
azure_peering_location          = "Silicon Valley Test"
azure_tier                      = "Standard"
azure_family                    = "UnlimitedData"
azure_environment               = "PROD"
