equinix_client_id      = "<MyEquinixClientId>"
equinix_client_secret  = "<MyEquinixSecret>"
metal_auth_token       = "<Metal_Auth_Token>"

metal_connection_metro      = "ty"
metal_project_id            = "<Metal_Project_ID>"
metal_connection_name       = "Metal-NIMF-connection"
metal_connection_redundancy = "primary"
metal_connection_speed      = "50Mbps"
metal_connection_type       = "shared_port_vlan"
metal_contact_email         = "tfacc@example.com"

connection_name             = "Metal_2_Azure"
connection_type             = "EVPL_VC"
notifications_type          = "ALL"
notifications_emails        = ["example@equinix.com"]
bandwidth                   = 50
purchase_order_number       = "1-323292"
project_id                  = "<Project_ID>"
zside_ap_type               = "SP"
zside_peering_type          = "PRIVATE"
zside_ap_profile_type       = "L2_PROFILE"
zside_location              = "SV"
zside_fabric_sp_name        = "Azure ExpressRoute"

azure_client_id             = "<Azure Client Id>"
azure_client_secret         = "<Azure Client Secret Value>"
azure_tenant_id             = "<Azure Tenant Id>"
azure_subscription_id       = "<Azure Subscription Id>"
azure_resource_name         = "Azure Test"
azure_location              = "West US 2"
azure_service_key_name      = "Test_Azure_Key"
azure_service_provider_name = "<Service Provider Name>"
azure_peering_location      = "Silicon Valley Test"
azure_tier                  = "Standard"
azure_family                = "UnlimitedData"
azure_environment           = "PROD"
