equinix_client_id      = "MyEquinixClientId"
equinix_client_secret  = "MyEquinixSecret"

google_project_id                            = "<GCP Project ID>"
google_region                                = "us-west1"
google_zone                                  = "us-west1-a"
google_credentials_path                      = "<GCP KEY FILE NAME>"
google_network_name                          = "tf-test-network"
google_network_mtu                           = "1460"
google_network_auto_create_subnetwork        = true
google_router_name                           = "tf-test-router"
google_router_bgp_asn                        = "16550"
google_interconnect_name                     = "tf-test-interconnect"
google_interconnect_type                     = "PARTNER"
google_interconnect_edge_availability_domain = "AVAILABILITY_DOMAIN_1"

connection_name             = "Port_2_google"
connection_type             = "EVPL_VC"
notifications_type          = "ALL"
notifications_emails        = ["example@equinix.com"]
bandwidth                   = 50
purchase_order_number       = "1-323292"
aside_port_name             = "sit-tb1-dc-e5.tlab,10GSMF,A,001,201257, 21951980"
aside_vlan_tag              = "2032"
aside_vlan_inner_tag        = "2033"
zside_ap_type               = "SP"
zside_ap_authentication_key = "<Google Auth Key>"
zside_ap_profile_type       = "L2_PROFILE"
zside_location              = "SV"
zside_seller_region         = "us-west1"
zside_sp_name               = "Google Cloud Partner Interconnect Zone 1"
