equinix_client_id      = "<MyEquinixClientId>"
equinix_client_secret  = "<MyEquinixSecret>"
        
notifications_type       = "ALL"
notifications_emails     = ["example@equinix.com","test1@equinix.com"]
purchase_order_number    = "1-323292"
aside_fcr_uuid           = "<Fabric Cloud Router UUID>"
connection_name          = "fcr_2_port"
connection_type          = "IP_VC"
bandwidth                = 50
aside_ap_type            = "CLOUD_ROUTER"
zside_ap_type            = "COLO"
zside_vlan_outer_tag     = "2711"
zside_location           = "SV"
zside_port_name          = "<Equinix Port Name>"
