equinix_client_id      = "MyEquinixClientId"
equinix_client_secret  = "MyEquinixSecret"

metal_auth_token = "<Metal Auth API Token>"
metal_connection_speed_unit = "MB"
metal_connection_metro = "SV"
metal_project_id = "<Metal Project ID>"
metal_connection_description = "Connect from Equinix Metal to Service provider using a-side token"

connection_speed = 50
connection_name = "metal-2-fabric"
connection_type = "EVPL_VC"
notifications_type = "ALL"
notifications_emails = ["example@equinix.com"]
bandwidth = 50
purchase_order_number = "1-323292"
zside_ap_type = "SP"
zside_ap_authentication_key = "<AWS_ACCOUNT_ID>"
zside_ap_profile_type = "L2_PROFILE"
zside_location = "SV"
zside_sp_name = "AWS Direct Connect"
zside_seller_region = "us-west-1"
additional_info = [
  { key = "accessKey", value = "<aws_access_key>" },
  { key = "secretKey", value = "<aws_secret_key>" }
]

aws_gateway_name         = "aws_gateway"
aws_gateway_asn          = 64518
aws_vif_name             = "port2aws"
aws_vif_address_family   = "ipv4"
aws_vif_bgp_asn          = 64999
aws_vif_amazon_address   = "169.254.0.1/30"
aws_vif_customer_address = "169.254.0.2/30"
aws_vif_bgp_auth_key     = "secret"
