equinix_client_id      = "<MyEquinixClientId>"
equinix_client_secret  = "<MyEquinixSecret>"

connection_name                 = "fcr_2_oracle"
connection_type                 = "IP_VC"
notifications_type              = "ALL"
notifications_emails            = ["example@equinix.com","test1@equinix.com"]
purchase_order_number           = "1-323292"
bandwidth                       = 1000
aside_fcr_uuid                  = "<Primary Fabric Cloud router UUID>"
zside_ap_type                   = "SP"
zside_ap_profile_type           = "L2_PROFILE"
zside_location                  = "SV"
zside_peering_type              = "PRIVATE"
zside_fabric_sp_name            = "Oracle Cloud Infrastructure -OCI- FastConnect"

oracle_tenancy_ocid             = "<Oracle Tenancy OCID>"
oracle_user_ocid                = "<Oracle User OCID>"
oracle_private_key              = "<Oracle Private Key>"
oracle_fingerprint              = "<Oracle Fingerprint>"
oracle_region                   = "us-sanjose-1"
oracle_compartment_id           = "<Oracle Compartment ID>",
oracle_fastconnect_provider     = "Equinix"
oracle_vc_display_name          = "FCR2Oracle"
oracle_vc_type                  = "PRIVATE"
oracle_bandwidth                = "1 Gbps"
oracle_customer_bgp_peering_ip  = "10.1.0.50/30"
oracle_bgp_peering_ip           = "10.1.0.49/30"
oracle_customer_asn             = "123456"
oracle_gateway_id               = "<Oracle Gateway ID>"
