equinix_client_id      = "MyEquinixClientId"
equinix_client_secret  = "MyEquinixSecret"

connection_name       = "Port2PrivateSP"
connection_type       = "EVPL_VC"
notifications_type    = "ALL"
notifications_emails  = ["example@equinix.com"]
bandwidth             = 50
purchase_order_number = "1-323292"
aside_port_name       = "ops-user100-CX-SV5-NL-Dot1q-STD-1G-PRI-JP-170"
aside_vlan_tag        = "3452"
zside_ap_type         = "SP"
zside_ap_profile_type = "L2_PROFILE"
zside_location        = "DA"
zside_sp_name         = "Equinix Direct Connect - Private"
