equinix_client_id     = "<MyEquinixClientId>"
equinix_client_secret = "<MyEquinixSecret>"
metal_auth_token      = "<Metal_Auth_Token>"

metal_connection_metro      = "sv"
metal_project_id            = "<Metal_Project_ID>"
metal_connection_name       = "Metal-NIMF-connection"
metal_connection_redundancy = "redundant"
metal_connection_speed      = "50Mbps"
metal_connection_type       = "shared_port_vlan"
metal_contact_email         = "tfacc@example.com"

connection_name                  = "FCR_2_Metal_DIGP"
connection_type                  = "IP_VC"
notifications_type               = "ALL"
notifications_emails             = ["example@equinix.com","test1@equinix.com"]
bandwidth                        = "50"
purchase_order_number            = "1-323292"
project_id                       = "<Fabric_Project_ID>"
aside_fcr_uuid                   = "<Primary Fabric Cloud router UUID>"
zside_ap_type                    = "METAL_NETWORK"
secondary_connection_name        = "fcr_2_metal_sec"
secondary_bandwidth              = "50"
primary_direct_rp_name           = "pri_direct_rp"
primary_direct_equinix_ipv4_ip   = "190.1.1.25/30"
secondary_direct_rp_name         = "sec_direct_rp"
secondary_direct_equinix_ipv4_ip = "190.1.1.9/30"
